.container{  
    width: 70%;
    margin: auto;
    color:grey;
    
}
.container .row1{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 0px;
    gap:40px;
}

.container .row1 .left {
    width: 50%;
    padding-top: 20px;
    border-radius: 20px;
    background: radial-gradient(  at bottom, #5f5f5f5c , transparent , #5f5f5f5c); 
}

.container .row1 .right {
   
    width: 50%;
    padding-top: 20px;
    border-radius: 20px;
    background-image: radial-gradient(
    farthest-corner at 100% -50px,
    rgba(255, 255, 255, 0.422) 0%,
    rgb(0, 0, 0) 40%
  );
   border:2px solid #5f5f5f5c;
}
.container .row1 .left img, .right img{
    height: 24px;
    margin: 10px 0px;
}

.left p, .right p{
    font-size: 16px;
    font-weight: 500;
    text-transform: lowercase;
    text-align: left;
    display: flex;
    align-items: center;
}

.lefttop, .righttop{
 margin-bottom: 30px;

 padding-bottom: 30px;
 margin-left: 20px;
    border-bottom: 2px dotted grey;
}

.leftbottom, .rightbottom {
    padding: 20px;
   
}

.leftbottom p, .rightbottom p{ 
    display: flex;
    align-items: center;
    font-size: 16px;
    gap:10px
}
.leftbottom h3, .rightbottom h3{
    padding-bottom: 10px;
} 

.leftbottom p img{ 
 height: 10px;
 width: 20px;
}

.right{
    color:white; 
}

.row2{
    display: flex;
    
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}
.row2 div{
    flex:1;
    border: 2px solid #5f5f5f5c;
    border-radius: 10px;
    padding: 20px;
}

.row2 div h1{
 color:grey !important;
 -webkit-text-fill-color: white;
 background-clip: unset;
 background: transparent;
 font-size: 20px;
 text-align: left;
 font-weight: 500;
 width: 100%;
}

.row2 div img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.row2 div p{
 color:grey !important;
 -webkit-text-fill-color: rgb(198, 198, 198);
 background-clip: unset;
 background: transparent;
 font-size: 12px;
 text-align: left;
 font-weight: 500;
 width: 90%;
}

@media (max-width: 768px){
 
    .container{  
    width: 90%;
    margin: auto;
    color:grey;
    
}

.container .row1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 0px;
    gap:40px;
}
.container .row1 .left {
    width: 100%;
    padding-top: 20px;
    border-radius: 20px;
    background: radial-gradient(  at bottom, #5f5f5f5c , transparent , #5f5f5f5c); 
}

.container .row1 .right {
   
    width: 100%;
    padding-top: 20px;
    border-radius: 20px;
    background-image: radial-gradient(
    farthest-corner at 100% -50px,
    rgba(255, 255, 255, 0.422) 0%,
    rgb(0, 0, 0) 40%
  );
   border:2px solid #5f5f5f5c;
}

.row2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}
}