
.container{
    margin-top: 200px;
}

.container p{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.container h1{
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0.5rem 0;
    vertical-align: middle;
        color: transparent;
  background: linear-gradient(83deg, #464646 27.1%, #FFF 72.9%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
width: fit-content;
    margin: auto;
}

.imgContainer{
   
    width: 80%;
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.imgContainer img{
    padding: 20px;
}

.imgContainer {
 padding: 0 20px;
}